/*
    Theme Name: Ormak
    Theme URI: http://www.ormak.com
    Description: Theme del sitio
    Author: El Tipo Gráfico.
    Design: Miguel García
    Author URI: http://www.eltipografico.com
    Version: 1.0
*/

a, a:visited {
    color: #008BD1;
}
a:hover {
    color: #464646;
}

a.btn {
    color: white;
}
.relativiza {
    position: relative;
}

/*
a[href$= ".pdf"]:before {
    font-family: 'Glyphicons Halflings';
    content: "\e080";
}
*/
a[href$= ".pdf"] {
    padding-left: 20px;
    background: url(img/pdf.png) no-repeat left center;
}
.boton-descarga a {
    padding: 20px;
}
.boton-descarga a[href$= ".pdf"] {
    padding: 20px 40px;
    background-image: none;
    background-color: #53C5D4;
}

body, html {
    margin: 0;
    padding: 0;
}
body {
    border-top: 10px solid white;
    font-family: 'Montserrat', sans-serif;
}


#control-menu {
    width: 30px;
    height: 31px;
    background: transparent url(img/hamburger.png) no-repeat 50%;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 9999;
}    
#control-menu.on {
    background: transparent url(img/menu-close.png) no-repeat 50%;    
} 



.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pd50{
       padding-top: 50px;
    padding-bottom: 50px;
}
.pd30 {
       padding-top: 30px;
    padding-bottom: 30px;
}
.banda-color {
    background: #008BD1 url(img/fachada.jpg) no-repeat 50%;
    background-size: cover;
    color: white !important;
	text-align: center;
	margin-bottom: 50px;
}
.banda-color p {
    color: white !important;

}
.text-light {
    font-weight: 300 !important;
    color: #949a90;
}

h2 {
    /* CONSTRUYAS LO QUE CO: */
    font-size: 30px;
    color: #008BD1;
}

ul.nobullet,
ul.nobullet li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

ul.puntitos,
ul.puntitos li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
ul.puntitos li:before {
    content: '· ';
}


#menu-movil {
    display: none;
}

#contacta {
    position: fixed;
    bottom: 0;
    width: 120px;
    right: 20px;
    z-index: 1000;
    background: rgba(255,255,255, .8);
    padding: 10px;
    -webkit-border-top-left-radius:  5px;
    -moz-border-top-left-radius:     5px;
    -o-border-top-left-radius:		 5px;
    border-top-left-radius: 		 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius:    5px;
    -o-border-top-right-radius:		 5px;
    border-top-right-radius: 		 5px;
    border-top:   1px solid #ccc;
    border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
}
    #contacta a {
        display: block;
        background: url(img/contacta.png) no-repeat center top;
        padding-top: 60px;
        text-align: center;
    }
    #contacta:hover {
        background: white;
    }
    #contacta a:hover {
        text-decoration: none;
    }


#cabecera {
    padding: 20px 0;
}
#cabecera h1 {
    margin: 0;
    padding: 0;
}
#menu a {
    color: #949a90;
}
#menu ul {
    margin: 0;
    padding: 95px 0 0 0;
    text-align: right;
}
#menu ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 180px;
    text-align: center;
    line-height: 1.2em;
    height: 30px;
    vertical-align: top;    
}
#menu ul li.current-menu-item a {
    color: #464646;
}
#menu ul li:last-child {
    margin-right: 0;
}
#menu ul li#menu-item-20 {
    margin-right: 30px;
}


#utiles {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: right;
/*     border-top: 3px solid #949a90; */
    z-index: 1000;
}
body.admin-bar #utiles {
    top: 32px;
}
    #utiles #taco,
    #utiles img,
    #utiles ul,
    #utiles li {
        display: inline-block;   
        padding: 0 5px;
    }
    #utiles #taco {
        background-color: #949a90;
        color: white;
        padding: 5px 10px;
        font-weight: 600;
        position: relative;
        -webkit-border-radius: 	10px;
        -moz-border-radius: 	10px;
        -o-border-radius:		10px;
        border-radius: 			10px;
    }
/*
    #utiles #taco:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 20px;
        background: #949a90;
        -webkit-transform: skewY(2.5deg);
        -moz-transform: skewY(2.5deg);
        -ms-transform: skewY(2.5deg);
        -o-transform: skewY(2.5deg);
        transform: skewY(2.5deg);
        -webkit-backface-visibility: hidden;
    }
*/
    
    
    #utiles #taco a {
        color: white;
    }
    #utiles ul#idiomas {
        margin-top: 5px;   
    }
    #utiles img,
    #utiles #idiomas a {
        border: 2px solid #949a90;
        background: white;
        -webkit-border-radius: 	20px;
        -moz-border-radius: 	20px;
        -o-border-radius:		20px;
        border-radius: 			20px;
        padding:                5px;
    }
    #utiles img {
        padding: 7px;
        margin-right: 20px;
    }



#contenido p, 
#contenido li {
    font-size: 16px;
    color: #000000;
    line-height: 25px;
    font-family: Montserrat, 'Arial', sans-serif;
}
#contenido .entradilla p {
    font-weight: bold;
}
#contenido {
    background: url(img/fondo-contenido.png) no-repeat center bottom;
    background: url(img/fondo-contenido.svg) no-repeat center bottom;
    background-size: contain;
    padding-bottom: 80px;
}
/* Home */

#destacados {
    background: url(img/tres-home@2x.png) no-repeat center bottom;
    background: url(img/tres-home.svg) no-repeat center bottom;
    background-size: contain;
    padding-bottom: 50px;
}
    .home #contenido {
        background: none;
        padding-bottom: 0px;
    }

    #destacados .snippet {
        position: relative;
    }
    #destacados .snippet a {
        display: block;
        width: 100%;
        height: 100%;
    }
    #destacados .snippet h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        position: absolute;
        top: 55%;
        width: 100%;
        opacity: 0
    }
    #destacados .snippet span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    #destacados .snippet a:hover h2 {
        opacity: 1;
        top: 40%;
        -webkit-transition: all 300ms linear;
        -ms-transition:     all 300ms linear;
        transition:         all 300ms linear;    
    }
    #destacados .snippet a:hover span {
        background: rgba(73,143,225,0.70);
        -webkit-transition: all 300ms linear;
        -ms-transition:     all 300ms linear;
        transition:         all 300ms linear;    
    }
    
    
/* Slide */
    #slide .corte {
        position:  absolute;
        width: 100%;
        height: 100%;
    }
    #slide .corte.izquierda {
        background: url(img/izquierda.png) no-repeat left top;
        /*background-size: contain;*/
		z-index: 10;
    }
    #slide .corte.derecha {
        background: url(img/derecha.png) no-repeat right top;
        /*background-size: contain;*/
		z-index: 10;
    }
    #slide .forma {
        position:  absolute;
        width: 100%;
        bottom: 0;
        height: 100%;
    }
    #slide .forma.derecha {
        background: url(img/formas/forma-01.png) no-repeat center bottom;
        background-size: contain;
        mix-blend-mode: multiply;
    }
    #slide .forma.izquierda {
        background: url(img/formas/forma-02.png) no-repeat center bottom;
        background-size: contain;
        mix-blend-mode: multiply;
        
    }
    #slide h3 {
        position: absolute;
        top:  100px;
        left: 100px;
        padding: 20px;
        text-transform: uppercase;
        margin: 0;
        color: white;
        width: 300px;
        background: rgba(73,143,225,1);
    }
    #slide h3:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 30px;
        background: rgba(73,143,225,1);
        -webkit-transform: skewY(2.5deg);
        -moz-transform: skewY(2.5deg);
        -ms-transform: skewY(2.5deg);
        -o-transform: skewY(2.5deg);
        transform: skewY(2.5deg);
        -webkit-backface-visibility: hidden;
    }
    #bullets {
        margin: 10px 0 50px 0;
        text-align: center;
    }
    
    #bullets a {
        display: inline-block;
        width:  10px;
        height: 10px;
        margin: 2px;
        -webkit-border-radius: 	5px;
        -moz-border-radius: 	5px;
        -o-border-radius:		5px;
        border-radius: 			5px;
        background-color: #999;
    }
    
    #bullets a:hover,
    #bullets .cycle-pager-active a {
        background-color: #008BD1;
    }
    
    #bullets a span {
        display: none;
    }
    
    #bullets a.more {
        /*background: url('/imagenes/layout/more.png') no-repeat 0 2px; */
        background: none;
        width: 60px;
        text-transform: lowercase;
        font-size: 11px;
        display: block;
        margin-left: 10px;
        padding-top: 11px;
        color: #999;
        font-weight: bold;
    }
    
    #bullets a.more:hover,
    #bullets li.activeslide a.more {
        /*background: url('/imagenes/layout/more.png') no-repeat 0 -20px;*/
        color: #333;
    }
    
    .cycle-prev, 
    .cycle-next {
        width: 30px;
        height: 30px;
        top: 35%;
        position: absolute;
        z-index: 9999;
        background: transparent url(img/prev.png) no-repeat 50%;
        background-size: cover;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -moz-transition:    all .3s ease;
        -o-transition:      all .3s ease;
        -transition:        all .3s ease;
        
    } 
 
    .cycle-prev {
        left: 0;
    }
    .cycle-next {
        background: transparent url(img/next.png) no-repeat 50%;
        right: 0;
    } 
    
    .cycle-prev:hover {
        left: -5px;
    }
    .cycle-next:hover {
        right: -5px;
    }
        

/* Banda de foto */
    .banda_de_foto .imagen {
        position: relative;
    }
    
    .banda_de_foto .corte {
        position:  absolute;
        width: 100%;
        height: 100%;
    }
    .banda_de_foto .corte.izquierda {
        background: url(img/izquierda.png) no-repeat left top;
        /*background-size: contain;*/
		z-index: 10;
    }
    .banda_de_foto .corte.derecha {
        background: url(img/izquierda.png) no-repeat right top;
        /*background-size: contain;*/
		z-index: 10;
    }
    .banda_de_foto .forma {
        position:  absolute;
        width: 100%;
        bottom: 0;
        height: 100%;
    }
    .banda_de_foto .forma.derecha {
        background: url(img/formas/forma-01.png) no-repeat center bottom;
        /*background: url(img/formas/forma-01.svg) no-repeat center bottom;*/
        background-size: contain;
        mix-blend-mode: multiply;
    }
    .banda_de_foto .forma.izquierda {
        background: url(img/formas/forma-02.png) no-repeat center bottom;
        /*background: url(img/formas/forma-02.svg) no-repeat center bottom;*/
        background-size: contain;
        mix-blend-mode: multiply;
        
    }
.banda_de_foto .caption {
    position: absolute;
    bottom: 20px;
    left: 130px;
    text-transform: uppercase;
    margin: 0;
    color: white;
    width: 30%;
/*
        padding: 20px;
        background: rgba(73,143,225,1);
*/
    }
@media only screen and (max-width: 450px){
.banda_de_foto .caption {
   width: 85% !important;
}
    .banda_de_foto .caption h3 {
        text-shadow: 1px 1px 5px black;
    }
}
    
/*
    .banda_de_foto {
        padding: 200px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        font-size: 40px;
        color: #FFFFFF;
        line-height: 43px;
        text-transform: uppercase;
        position: relative;
        background-color: #DEF0F9;
    }
    .banda_de_foto .color {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        top: 0;
        left: 0;
    }
*/



/* Banda de texto */
    
    .banda_de_texto {
        padding: 60px 0px 100px 240px;
		background: url(img/fondo-texto.png) no-repeat left bottom;
    }

@media only screen and (max-width : 1024px){
 .banda_de_texto {
        padding: 60px 0px 100px 100px;
    }
}
@media only screen and (max-width : 768px){
 .banda_de_texto {
        padding: 60px 70px 100px 70px;
    }
}
@media only screen and (max-width : 425px){
 .banda_de_texto {
        padding: 30px 70px 100px 30px;
    }
}
@media only screen and (max-width : 320px){
 .banda_de_texto {
        padding: 30px 10px 100px 10px;
    }
}

    .banda_de_texto h2 {
        font-weight: 300 !important;
        color: #949a90;
        text-transform: uppercase;
    }
    
    
.banda_tres_columnas {
    padding: 0 0 100px 0;
	background: url(img/fondo-texto.png) no-repeat left bottom;
}
.banda_tres_columnas h3 {
    font-size: 24px;
    /* text-transform: uppercase; */
    font-weight: 300;
    color: #949a90;
}

/* Snippet proyectos */
.snippet-proyecto {
    margin-top: 30px;
}
.snippet-proyecto h3 {
    font-size: 18px;
}
.snippet-proyecto .foto {
    position: relative;
}
.snippet-proyecto .foto .corte {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: url(img/corte-snippets.png) no-repeat center bottom;
    background: url(img/corte-snippets.svg) no-repeat center bottom;
    background-size: cover;
}



#galeria .foto {
    margin-bottom: 32px;
}
    
/* Style The Dropdown Button */
    .dropdown-group {
        margin-bottom: 20px;
		margin-top: 20px;		
	    border-top: 1px solid #ccc;
    }
    .dropbtn {
        background: #8eebff url(img/dropdown.png) no-repeat 95% 50%;
        background: #8eebff url(img/dropdown.svg) no-repeat 95% 50%;
        border: 1px solid #949a90;
        color: #464646;
        padding: 7px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        text-align: left;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #eee;
    }    
    


#buscador {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 20000;
    text-align: center;
}
    #buscador form {
        display: table;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    #buscador form .centrador {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    #buscador form .centrador * {
        display: none;
    }
    #buscador form input[type="text"] {
        background: transparent;
        border: 1px solid #008BD1;
        padding: 20px;
        width: 50%;
        text-align: center;
        color: white;
        font-size: 60px;
        font-weight: bold;
    }
    #buscador form input[type="submit"] {
        background: transparent;
        border: none;
        color: white;
        font-size: 20px;
        padding: 10px;
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    #buscador #boton_buscador_cerrar {
        display: block;
        position: absolute;
        top:   40px;
        right: 60px;
        margin-top: 20px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        z-index: 20002;
    }
 
#searchform {
    padding-bottom: 70px;
} 
#searchform #s-form {
    border-bottom: 5px solid #333;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 54px;
    line-height: 1em;
    font-weight: bold;
    width: 60%;
}
#searchform .submit {
    border: none;
    font-size: 54px;
    line-height: 1em;
    font-weight: bold;
    background: transparent;
    width: 38%;
    text-align: left;
}

#contenido #map {
    height: 400px;
}   


.page-template-page-que-hacemos .light {
    text-transform: uppercase;
    font-weight: 300;
    color: #949a90;
    padding-bottom: 30px;
    font-size: 25px;
    line-height: 1em;
}


#contenido p.descripcion_corta {
    font-size: 18px;
    line-height: 1.4em;
    color: #555;
}

#pie {
    background: transparent url(img/pie.png) no-repeat center top;
    background: transparent url(img/pie.svg) no-repeat center top;
    background-size: contain;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #008BD1;
}
#pie ul,
#pie li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.iconos-tipologia {
    padding: 50px 0;
    text-align: center;
}
    .iconos-tipologia .nueva-construccion {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/viviendas_venta.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-tipologia .reformas-y-construcciones {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/reforma.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-tipologia .ampliaciones {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/ampliacion.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-tipologia .mantenimiento {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/mantenimiento.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-tipologia .rehabilitacion {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/rehabilitacion.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    
.iconos-que-hacemos {
    padding: 50px 0;
    text-align: center;
}
    .iconos-que-hacemos .religioso {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/religioso.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-que-hacemos .centros-socio-sanitarios {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/sanitario.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-que-hacemos .tecnologico-y-educacional {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/tecnologia.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-que-hacemos .terciario {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/terciario.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-que-hacemos .pabellones-y-naves-industriales {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/industrial.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    .iconos-que-hacemos .residencial {
        display: block;
        background: transparent url(/wp-content/themes/ormak/img/iconos/residencial.png) center top no-repeat;
        background-size: 35%;
        padding-top: 70px;
    }
    
    

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #utiles {
        top: 30px;
    }
    #menu {
        text-align: left;
    }
    #menu ul {
        text-align: left;
        padding-top: 20px;
    }
    #menu ul li {
        display: inline-block;
        list-style-type: none;
        margin-right: 0 !important;
        text-transform: uppercase;
        font-weight: 600;
        width: 16.2%;
        max-width: none;
        text-align: center;
        line-height: 1.2em;
        /* height: 30px;*/
        vertical-align: top;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #menu ul {
        margin: 0;
        padding: 84x 0 0 0;
        text-align: right;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
    #utiles {
        top: 10px;
    }
   
#menu ul {
    margin: -40px 0 0 0;
    padding: 0px 0 0 0;
    text-align: right;
}    
    #menu {
        display: none;
    }
    
    #menu-movil.on {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
    #menu-movil {
        background-color: #949a90;
        position: fixed;
        padding: 30px 0 0 0;
    }
    #menu-movil .close {
        position: absolute;
        top:    10px;
        right:  10px;
        width:  20px;
        height: 20px;
        background: transparent url(img/close.png) 50% no-repeat;
        background-size: cover;
    }
    #menu-movil ul {
        margin: 0;
        padding: 0;
    }
    #menu-movil ul li {
        text-align: center;
        list-style-type: none;
    }
    #menu ul li#menu-item-20 {
        margin-right: 0;
    }
    #menu-movil ul li a {
        color: white;
        text-transform: uppercase;
        display: block;
        padding: 10px 0;
    }
    
    #utiles {
        position: fixed;
        width: 100%;
        text-align: left;
        z-index: auto;
    }
    
    #utiles ul#idiomas,
    #utiles img {
        display: none;
    }
    #utiles ul#idiomas,
    #utiles ul#idiomas li {
        margin: 0;
        border: 1px solid black;
        text-align: left;
    }
    #utiles #taco {
        background-color: transparent;
        display: block;
        float: left;
        display: none;
    }
    #utiles #taco a,
    #utiles #taco .tel {
        background-color: #949a90;
        color: white;
        padding: 5px 10px;
        font-weight: 600;
        -webkit-border-radius: 	10px;
        -moz-border-radius: 	10px;
        -o-border-radius:		10px;
        border-radius: 			10px;
        margin-left: 10px;
        display: block;
        float: right;
        margin: 0;
    }
    
    #slide .caption {
        position: relative;
        bottom: 0;
    }
    #slide h3 {
        position: relative;
        bottom:  0px;
        left: 0;
        padding: 20px;
        text-transform: uppercase;
        margin: 0;
        color: white;
        width: 100%;
        background: rgba(73,143,225,1);
        font-size: 16px;
        top: auto;
    }
    #slide h3:after {
        display: none;
        position: relative;
        top: auto;
    }
    .banda_de_foto .caption {
        left: 12%;
        width: 30%;
		bottom: 0px
 /*     position: absolute;
        top:  40%;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        color: white;
        padding: 20px;
        background: rgba(73,143,225,1);
*/
    }
    .banda_de_foto .caption h3 {
        font-size: 15px;        
    }
    
    
    #form1 {
        padding-left: 16px; padding-right: 16px; 
    }
    

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

.noticias {
    padding-bottom: 50px;
}




#noticias {
    /* padding-top: 100px; */
    padding-bottom: 100px;
}
    #noticias h1 {
        font-weight: 300 !important;
        color: #949a90;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

#noticias .fecha,
#noticias a .fecha {
    color: #949a90;
}
#noticias a:hover {
    text-decoration: none;
    color: #949a90 !important;
}
#noticias .snippet-noticias .foto {
    position: relative;
}
#noticias .snippet-noticias .corte-izquierda-arriba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: transparent url(img/corte-izquierda-arriba.png) no-repeat left top;
    background-size: contain;
    
}
#noticias .snippet-noticias .corte-derecha-arriba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: transparent url(img/corte-derecha-arriba.png) no-repeat right top;
    background-size: contain;
    
}




#aviso-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 440px;
    background-color: rgba(0,0,0,.8);
    color: white !important;
    padding: 20px;
    z-index: 999999
}
    #aviso-cookies h1 {
        color: white !important;
        font-size: 15px
    }
    #aviso-cookies p {
        color: white !important;
        font-size: 12px
    }
    #aviso-cookies a,
    #aviso-cookies .btn {
        color: white !important;
        font-size: 12px
    }

@media (min-width: 440px) {
    #aviso-cookies {
        bottom: 20px;
        left: 20px;
        max-width: 400px;
    }    
}
